@charset "UTF-8";

/* 云朵飘动--暂无 */

@-webkit-keyframes cloudFloat {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }
}

@keyframes cloudFloat {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }
}


/* 生态圈转动 */

@-webkit-keyframes rotateCitcle {
    0% {
        -webkit-transform: rotate3d(0, 0, 0, 0);
        transform: rotate3d(0, 0, 0, 0);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes rotateCitcle {
    0% {
        -webkit-transform: rotate3d(0, 0, 0, 0);
        transform: rotate3d(0, 0, 0, 0);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}


/* 生态圈线圈 */

@-webkit-keyframes spin1 {
    0% {
        -webkit-transform: rotate(0deg)translate3d(15px, 0, 0);
        transform: rotate(0deg)translate3d(15px, 0, 0);
    }
    100% {
        -webkit-transform: rotate(360deg)translate3d(15px, 0, 0);
        transform: rotate(360deg)translate3d(15px, 0, 0);
    }
}

@keyframes spin1 {
    0% {
        -webkit-transform: rotate(0deg)translate3d(15px, 0, 0);
        transform: rotate(0deg)translate3d(15px, 0, 0);
    }
    100% {
        -webkit-transform: rotate(360deg)translate3d(15px, 0, 0);
        transform: rotate(360deg)translate3d(15px, 0, 0);
    }
}

@-webkit-keyframes spin2 {
    0% {
        -webkit-transform: rotate(0deg)translate3d(10px, 0, 0);
        transform: rotate(0deg)translate3d(10px, 0, 0);
    }
    100% {
        -webkit-transform: rotate(360deg)translate3d(10px, 0, 0);
        transform: rotate(360deg)translate3d(10px, 0, 0);
    }
}

@keyframes spin2 {
    0% {
        -webkit-transform: rotate(0deg)translate3d(10px, 0, 0);
        transform: rotate(0deg)translate3d(10px, 0, 0);
    }
    100% {
        -webkit-transform: rotate(360deg)translate3d(10px, 0, 0);
        transform: rotate(360deg)translate3d(10px, 0, 0);
    }
}

@-webkit-keyframes spin3 {
    0% {
        -webkit-transform: rotate(0deg)translate3d(20px, 0, 0);
        transform: rotate(0deg)translate3d(20px, 0, 0);
    }
    100% {
        -webkit-transform: rotate(360deg)translate3d(20px, 0, 0);
        transform: rotate(360deg)translate3d(20px, 0, 0);
    }
}

@keyframes spin3 {
    0% {
        -webkit-transform: rotate(0deg)translate3d(20px, 0, 0);
        transform: rotate(0deg)translate3d(20px, 0, 0);
    }
    100% {
        -webkit-transform: rotate(360deg)translate3d(20px, 0, 0);
        transform: rotate(360deg)translate3d(20px, 0, 0);
    }
}

@-webkit-keyframes spin4 {
    0% {
        -webkit-transform: rotate(0deg)translate3d(20px, 0, 0);
        transform: rotate(0deg)translate3d(20px, 0, 0);
    }
    100% {
        -webkit-transform: rotate(-360deg)translate3d(20px, 0, 0);
        transform: rotate(-360deg)translate3d(20px, 0, 0);
    }
}

@keyframes spin4 {
    0% {
        -webkit-transform: rotate(0deg)translate3d(20px, 0, 0);
        transform: rotate(0deg)translate3d(20px, 0, 0);
    }
    100% {
        -webkit-transform: rotate(-360deg)translate3d(20px, 0, 0);
        transform: rotate(-360deg)translate3d(20px, 0, 0);
    }
}

@-webkit-keyframes spin5 {
    0% {
        -webkit-transform: rotate(0deg)translate3d(10px, 0, 0);
        transform: rotate(0deg)translate3d(10px, 0, 0);
    }
    100% {
        -webkit-transform: rotate(-360deg)translate3d(10px, 0, 0);
        transform: rotate(-360deg)translate3d(10px, 0, 0);
    }
}

@keyframes spin5 {
    0% {
        -webkit-transform: rotate(0deg)translate3d(10px, 0, 0);
        transform: rotate(0deg)translate3d(10px, 0, 0);
    }
    100% {
        -webkit-transform: rotate(-360deg)translate3d(10px, 0, 0);
        transform: rotate(-360deg)translate3d(10px, 0, 0);
    }
}


/* 生态圈Label反向转动 */

@-webkit-keyframes rotateCitcleReverse {
    0% {
        -webkit-transform: rotate3d(0, 0, 0, 0);
        transform: rotate3d(0, 0, 0, 0);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, -360deg);
        transform: rotate3d(0, 0, 1, -360deg);
    }
}

@keyframes rotateCitcleReverse {
    0% {
        -webkit-transform: rotate3d(0, 0, 0, 0);
        transform: rotate3d(0, 0, 0, 0);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, -360deg);
        transform: rotate3d(0, 0, 1, -360deg);
    }
}
